.md-main__inner {
    max-width: none;
}

.md-content {
    max-width: none;
}

@media screen and (min-width: 76.25em) {
    .md-nav--primary .md-nav__title {
        display: none !important;
    }
}
.md-sidebar--secondary {
    display: none !important;
}
