.md-sidebar--secondary {
    display: none !important;
}

.md-main__inner {
    max-width: none;
}

.md-content {
    max-width: none;
}

.md-sidebar--secondary .md-sidebar__scrollwrap {
    padding-top: 0;
}

.md-nav--secondary label {
    display: none !important;
}
