.md-main__inner {
    max-width: none;
}

.md-content {
    max-width: none;
}

.md-nav--primary .md-nav__title {
    display: none !important;
}

.md-sidebar--secondary {
    display: none !important;
}
